/* <-- base del documento --> */

*{
 box-sizing: border-box;
}
html{
    font-size: 100%;
}
body{
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 1rem;
}
header{
    display: flex;
    justify-content: space-between; /* envía el título hacia la izquierda y el menú de inicio a la derecha */
    align-items: center; /* alinea ambos contenido al centro */
    padding: 20px; /* agrega espacio interior, para que no quede pegados al borde */
}